html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  border: 3px solid #73AD21;
  width: 100%;
  left: 0; 
  bottom: 0;
  position: fixed;
}

input {
  width: 100%;
  font-size: 25px;
  padding: 10px; 
}
  
ul {
      list-style: none;
        word-wrap: break-word;
}

